[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=172.31.42.221
Environment=CATALOGUE_HOST=172.31.34.74
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target